* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1a2e;
}

@font-face {
  font-family: fuente_titulo;
  src: url(../fonts/OpenSansItalic.ttf);
}

@font-face {
  font-family: fuente_texto_general;
  src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: fuente_puntaje;
  src: url(../fonts/fuentePuntaje.ttf);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f3460;
  color: #ffffff;
  height: 4rem;
  border: 3px solid white;
}

header h1 {
  margin: 10px;
}

#textoDescripcion {
  font-size: 27px;
  color: white;
}

#saludoInicial {
  color: white;
}

p,
h2,
a {
  font-family: fuente_texto_general;
  color: #ffffff;
}
#titulo {
  font-family: fuente_titulo;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.botonesInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#btn_comenzar {
  border-radius: 15px;
  margin: 10px;
  font-family: fuente_texto_general;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffb400;
  color: #0f3460;
}

#btn_comenzar:hover {
  background-color: #e09b00;
  color: #ffffff;
}

#btn_instrucciones {
  border-radius: 15px;
  margin: 10px;
  font-family: fuente_texto_general;
  font-size: 20px;
  font-weight: bold;
  color: #0f3460;
  background-color: #e0eafc;
}

#btn_instrucciones:hover {
  background-color: #d0def5;
  color: #0d2c53;
}

#texto_instrucciones h1 {
  text-align: center;
}

#texto_instrucciones li {
  font-size: 15px;
}

.inicioContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 4px solid #0f3460;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

#btn_guardar_nombre {
  margin: 10px;
  height: 70px;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 15px;
}

.nombreHeader {
  display: flex;
  background-color: firebrick;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
}

.nombreInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nombreContainer {
  margin: 20px auto;
  padding: 10px;
  background-color: #16213e;
  width: 40%;
  border-radius: 20px;
  border: 3px solid #0f3460;
  height: 320px;
}

.nombreInput input {
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
}

.nombreInput button,
input {
  margin-top: 30px;
  font-size: 20px;
}

#nombre_usuario {
  margin: 20px;
  padding: 10px;
}

h2 {
  color: black;
}
/*Codigo exclusivo para estilos de la pantalla inicial del juego pantallaInicialJuego.html*/

.areaJuegoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoOportunidades {
  width: 30%;
  padding: 5px;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 20px;
}

.infoOportunidades h4 {
  color: yellow;
}

.seccionPreguntas {
  font-size: 25px;
  margin: 30px auto;
  background-color: #16213e;
  width: 40%;
  height: 650px;
  border-radius: 15px;
  flex-direction: column;
  border: 4px solid #0f3460;
}

#puntajeRonda,
#puntajeGlobal {
  font-family: fuente_puntaje;
  display: flex;
  justify-content: center;
  color: black;
}

#puntajeRonda.mostrar,
#puntajeGlobal.mostrar {
  background-color: lavender;
  border-radius: 20px;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}

#seccionPreguntas,
#infoOportunidades {
  color: #011627;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, visibility 0s linear 0.25s;
}

#seccionPreguntas.mostrar {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s ease-in-out, visibility 0s linear 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in;
}

#infoOportunidades.mostrar {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s ease-in-out, visibility 0s linear 0s;
  color: white;
}

#rondaHeader {
  visibility: hidden;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

#rondaHeader.mostrar {
  visibility: visible;
}

#pregunta {
  background-color: black;
  margin: 10px;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.areaRespuestas {
  font-family: fuente_puntaje;
  word-spacing: 4px;
  background-color: #39ff14;
  padding: 20px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
  border: 3px solid black;
}

.areaRespuestas ol {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.areaJuego {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  margin-bottom: 40px;
}

.areaJuego input {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
}

.areaJuego button {
  padding: 5px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: violet;
}

.areaJuego button:hover {
  background-color: blueviolet;
  color: white;
}

#UIFeedback {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: red;
  border-radius: 10px;
}

#UIFeedback.exitoso {
  color: #39ff14;
}

#UIFeedback.visible {
  visibility: visible;
  opacity: 1;
}

#temporizador {
  background-color: #0d0d0d;
  border: 3px solid white;
  color: white;
  width: 15%;
  border-radius: 10px;
  text-align: center;
}

#textoTemporizador.advertencia {
  color: #ffff33;
  animation: parpadeoTexto 1s infinite;
}

#textoTemporizador.critico {
  color: firebrick;
  animation: parpadeoTexto 0.3s infinite;
}

@keyframes parpadeoTexto {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btnIniciarJuego {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #e94560;
}

#btnIniciarJuego:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/*MEDIA QUERIES PARA RESPONSIVE DESIGN*/
@media (max-width: 476px) {
  .inicioContainer {
    width: 90%;
  }

  #textoDescripcion {
    margin: 5px;
    font-size: 20px;
  }

  .empezar {
    width: 40%;
  }

  .nombreHeader {
    width: 80%;
  }

  .nombreContainer {
    font-size: 20px;
    width: 80%;
    padding: 15px;
    height: 350px;
  }

  .nombreInput input {
    border: 3px solid black;
    border-radius: 20px;
    font-size: 15px;
  }

  /* .nombreContainer {
    margin: 20px auto;
    padding: 10px;
    background-color: #16213e;
    width: 40%;
    border-radius: 20px;
    border: 3px solid #0f3460;
    height: 320px;
  } */

  .nombreInput input {
    width: 100%;
  }

  header {
    height: 6rem;
    text-align: center;
  }

  .seccionPreguntas {
    width: 90%;
    height: 580px;
    font-size: 20px;
  }

  #UIFeedback {
    width: 80%;
  }

  .areaJuego {
    width: 70%;
    font-size: 15px;
  }

  .areaJuego input {
    font-size: 15px;
  }

  #temporizador {
    width: 30%;
  }

  .infoOportunidades {
    font-size: 5px;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .inicioContainer {
    width: 65%;
  }

  .empezar {
    width: 15%;
  }
}
